appnope==0.1.0
backports.shutil-get-terminal-size==1.0.0
certifi==2018.1.18
chardet==3.0.4
coverage==4.0.3
decorator==4.2.1
dj-database-url==0.4.2
Django==1.11
django-bootstrap3==9.1.0
django-ckeditor==5.4.0
django-google-maps==0.10.1
django-js-asset==1.0.0
django-qrcode==0.3
enum34==1.1.6
eventbrite==3.3.3
factory-boy==2.10.0
Faker==0.8.12
Flask==0.8
funcsigs==1.0.2
gunicorn==19.7.1
idna==2.6
ipaddress==1.0.19
ipdb==0.11
ipython==5.5.0
ipython-genutils==0.2.0
Jinja2==2.6
mock==2.0.0
numpy==1.14.2
oauthlib==2.0.7
opencv-python==4.2.0.32
pathlib2==2.3.0
pbr==3.1.1
pexpect==4.4.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
psycopg2-binary==2.7.4
ptyprocess==0.5.2
Pygments==2.2.0
PyJWT==1.6.1
python-coveralls==2.9.1
python-dateutil==2.7.1
python-openid==2.2.5
pytz==2018.3
PyYAML==3.12
requests==2.18.4
requests-oauthlib==0.8.0
scandir==1.7
selenium==3.11.0
simplegeneric==0.8.1
six==1.11.0
social-auth-app-django==2.1.0
social-auth-core==1.7.0
text-unidecode==1.2
traitlets==4.3.2
urllib3==1.22
wcwidth==0.1.7
Werkzeug==0.8.3
whitenoise==3.3.1
