{% extends '../shared/base.html' %}

{% block content %}

    {% if form.errors %}
        <p class="text-center">Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p class="text-center">Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
        {% else %}
            <p class="text-center">Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <form class="col-md-12">
        <div class="row text-center">
            <div class="col-md-12 col-sm-12">
                <a class="btn btn-lg" href="{% url "social:begin" "eventbrite" %}">Login with Eventbrite</a>
            </div>
        </div>
    </form>

{% endblock %}
