@font-face {
   font-family: BentonSansRegular;
   src: url(fonts/BentonSans-Regular_sOT.otf);
}
body {
  background: black;
}
#qrcode img{
    width: 50%;
}
.eventbrite-logo{
	width: 100%;
}
.event-logo{
  /* width: 100%; */
}
.event-logo img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60vw;
  height: 40vh;
  padding-top: 20px;
  position: relative;
}
.box-lateral{
    border-right: 1px solid #CCD0DB;
    border-left: 1px solid #CCD0DB;
}
.box{
    border: 1px solid #CCD0DB;
}
.step {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  -ms-box-sizing:     border-box;
  -o-box-sizing:      border-box;
  box-sizing:         border-box;
  line-height: 1.5;
}
.slide {
  height: 99vh;
  width: 99vw;
  display: block;
  padding: 0px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
}
.event-title{
  text-align: center;
  font-size: 60px;
  font-family: 'Atrian-FontZillian', Monaco, monospace;
  margin-top: 10px;
}
.event-tiny-url{
  font-size: 50px;
  margin-top: 10px;
}
.buy-tickets-label{
  text-align: center;
  font-size: 28px;
  padding: 10px;
  color: #2F333B;
  padding-top: 20px;
}
.event-tiny-url-2{
  font-size: 34px;
  padding: 20px;
  text-align: center;
  color: #007481;
}
.event-qr{
  /* padding: 20px; */
  /* padding-bottom: 30px; */
}
.event-qr img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  position: relative;
  /* margin: auto; */
  /* width: 50%; */
  /* padding-top: 10px; */
  /* padding-bottom:10px; */
}
.event-range-price{
  position: relative;
  top: -227px;
  text-transform: uppercase;
}
.event-range-price span{
  float: right;
  background-color: hsla(0,0%,100%,.92);
  font-size: 16px;
  line-height: 18px;
  color: #282c35;
  padding: 5px 10px;
  box-sizing: border-box;
}
.event-detail{
  font-size: 18px;
  margin-top: 20px
}
.eventbrite-banner{
  border: 0px;
}
.eventbrite-banner img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.div-logo{
  padding: 0px !important;
}
.event-name{
  font-size: 3em;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: normal;
  color: #282C35
}
.event-start-date{
  font-size: 15px;
  color: #45494E;
  margin-left: 80px;
}
.event-description{
  margin-top: 10px;
  font-size: 25px;
  color: #45494E;
  height: 295px;
  font-family: 'Lucila Console', Monaco, monospace;
  margin-left: 80px;
}
.event-hastags{
  font-size: 24px;
  color: #5B5F68;
}
.event-location-line-two{
  color: #666A73;
}
