h1{
    font-weight:600;
    text-transform:uppercase;
    text-align:center;
    font-weight:400;
    font-size:45px;
}
.inner-form{
  font-family: 'Atrian-FontZillian';
  display: flex;
  justify-content: center;
  padding:200px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
}
p{
    font-weight:400;
    font-size:25px;
}
.btn{
    background: #1893D6;
    border: none;
    border-radius: 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    padding: 15px 30px;
    text-transform: uppercase;
}
.btn:hover{
    background: #074d6f;
    color: #ffffff;
}
.btn:active{
    background: #074d6f;
    color: #ffffff;
}
