{#{% load activeurl%}#}
{% extends './shared/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="page-header box">
  <h2>Tus banners</h2>
</div>
<div class="page-body">
  <div class="container-fluid" style="padding-top: 30px;">
    {% if banners %}
      <div class="row">
        <div class="col-md-10">
          <div class="list-group" style="">
           {% for banner in banners %}
              <div class="" style="padding-top: 5px">
                <div class="list-group-item" style="height:100px; border: 2px solid #C0C0C0">
                  <div class="row">
                    <div class="col-md-7">
                      <h4 style="">{{ banner.title }}</h4>
                      <p class="float-left">{{ banner.description }}</p>
                    </div>
                    <div class="col-md-2">
                      <a class="text-black" href="{% url 'banner_detail' pk=banner.pk %}">
                        <button type="button" class="btn btn-default"><h5> Ver contenido</h5></button>
                      </a>
                    </div>
                    <div class="col-md-1">
                      <a data-toggle="tooltip" data-placement="top" title="vista previa del banner" class="" href="{% url 'preview' pk=banner.pk %}" target="blank">
                        <span style="font-size:24px; margin-right: 20px; color:#808080" class="fas fa-eye"></span>
                      </a>
                      <p><h5>Ver</h5></p>
                    </div>
                    <div class="col-md-1">
                      <a data-toggle="tooltip" data-placement="top" title="Editar banner" class="text-green" href="{% url 'banner_update' pk=banner.pk %}">
                        <span style="font-size:24px; margin-right: 20px; color:#808080" class="fas fa-edit"></span>
                      </a>
                      <p><h5>Editar</h5></p>
                    </div>
                    <div class="col-md-1">
                      <a data-toggle="tooltip" data-placement="top" title="Eliminar banner" class="text-red" href="{% url 'banner_delete' pk=banner.pk %}">
                        <i style=" font-size:24px; color:#808080"  class="fa">&#xf00d;</i>
                      </a>
                      <p><h5>Eliminar</h5></p>
                    </div>
                  </div>
                </div>
              </div>
        <div class="col-md-1">
          <a href="banner/download"><button type="button" class="btn btn-default" ><h5>Descargar</h5></button></a>
        </div>
        </div>
        {% endfor %}


    </div>

      {% else %}
          <div>
            <img style="margin-left: 150px;" src="{% static 'images/notbannersyet.png' %}" />
            <p hidden>No banners yet</p>
            <!-- <div hidden>No banners yet!<div> -->
          </div>
      {% endif %}
        <div class="col-md-1">
          <a href="{% url 'banner_new' %}">
            <div  class="aligne-right">
              <span style="color:red; width: 100px; height: 100px; color:#f66a26; position: fixed; right:15px; bottom:105px" class="glyphicon-ring fas fa-plus-circle"></span>
            </div>
          </a>
        </div>
     </div>
  </div>
</div>

{% endblock %}
