{#{% load activeurl%}#}
{% extends './shared/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="page-header box">
  <h2>Tus banners</h2>
</div>
<div class="page-body">
  <div class="container" style="padding-top: 20px;">
    {% if banners %}
      {% for banner in banners %}
        <div class="" style="padding-top: 60px;">
            <div class="row col-md-12">
              <a class="text-black" href="{% url 'banner_detail' pk=banner.pk %}" target="blank">
                <h4>{{ banner.title }}</h4>
              </a>
              <div class="float-right" style="margin-left: 20px;">
                <a class="" href="{% url 'preview' pk=banner.pk %}">
                  <span class="fas fa-eye"></span>
                </a>
                <a class="text-green" href="{% url 'banner_update' pk=banner.pk %}">
                  <span class="fas fa-edit"></span>
                </a>
                <a class="text-red" href="{% url 'banner_delete' pk=banner.pk %}">
                  <span class="fas fa-eraser"></span>
                </a>
              </div>
            <div class="col-md-12">
              <p>{{ banner.description }}</p>
            </div>
        </div>
        {% endfor %}
      {% else %}
          <div>
            <img src="{% static 'images/notbannersyet.png' %}" />
            <p hidden>No banners yet</p>
            <!-- <div hidden>No banners yet!<div> -->
          </div>
      {% endif %}

          <a href="{% url 'banner_new' %}">
            <div class="glyphicon-ring glyphicon-white plus-banner-button">
              <span class="fas fa-plus glyphicon-bordered"></span>
            </div>
          </a>
    
        </div>
        
      </div>

{% endblock %}
