<!DOCTYPE html>
{% extends '../shared/base.html' %}
{% block content %}
  <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
  <div class="page-header box">
    <h2>{{ banner.title }}</h2>
  </div>
  <div class="page-body">
    <div class="container">
      <p> {{ banner.description }}</p>
      <br>
      <div class="row col-md-12">
      {% for event in events %}
        <div class="col-md-6">
          <div class="card" style="width: 18rem; margin-bottom:20px;">
            <img class="card-img-top" src="{{ event.logo }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title" style="text-decoration: bold;">{{ event.title }}</h5>
                <p class="card-text" style="text-size: 10px;">{{ event.description }}</p>
                <a href="{% url 'edit_design' pk=banner.pk epk=event.pk %}" class="btn btn-primary">Edit view</a>
                <p>select</p>

                <select class="selectpicker">
                  {% for number in numbers %}
                  <option>{{number}}</option>
                  {% endfor %}
                </select>

            </div>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
    <p><input type="submit" name="Events Selected" class="btn-submit btn btn-primary
    float-right"></p>
  </form>
{% endblock %}

