<!DOCTYPE html>
{% extends './shared/base.html' %}


{% block content %}
  <h1>Your events</h1>
      <h3>Select your events for create a new banner</h3>
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    {{ formset.management_form }}

    {% for event_form in formset %}

        {{ event_form.id }}
        <div class="row">
          <div class="col-md-2">
            <h4 style="color:red;font-family:verdana">Title:</h4>
          </div>
          <div class="col-md-4" >
          <h4>{{ event_form.title.value }}</h4>
          </div>
          <div class="col-md-6">
            <h4 style="color:lightgreen;font-family:verdana">Edit Title:</h4>
            <h4>{{ event_form.title }}</h4>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2">
            <h4 style="color:red;font-family:verdana" >Description:</h4>
          </div>
          <div class="col-md-4" >
            <h4>{{ event_form.description.value }}</h4>
          </div>
          <div class="col-md-6">
            <h4 style="color:lightgreen;font-family:verdana">Edit Description:</h4>
            <h4>{{ event_form.description }}</h4>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2">
            <h4 style="color:red;font-family:verdana" >Start:</h4>
          </div>
          <div class="col-md-4" >
            <h4>{{ event_form.start.value }}</h4>
          </div>
           <div class="col-md-6" ></div>

        </div>
        <div class="row">
          <div class="col-md-2">
            <h4 style="color:red;font-family:verdana" >End:</h4>
          </div>
          <div class="col-md-4" >
            <h4>{{ event_form.end.value }}</h4>
          </div>
          <div class="col-md-6" ></div>
        </div>

        <div class="row">
          <div class="col-md-2">
            <h4 style="color:red;font-family:verdana" >Logo:</h4>
          </div>
          <div class="col-md-4" >
            <img src={{ event_form.logo.value }}>
          </div>
          <div class="col-md-6">
            <h4 style="color:lightgreen;font-family:verdana">Edit Logo:</h4>
            <h4>{{ event_form.custom_logo }}</h4>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
          </div>
          <div class="col-md-8" ></div>
          <h4 hidden="">{{ event_form.event_id }}</h4>
        </div>


        <div>
        <div class="row">
          <div class="col-md-12">
            <h4 style="color:blue; font-size:200%">Select Event {{ event_form.selection }}</h4>
          </div>
          </div>

    {% endfor %}

      <div class="media" style="padding-top: 40px;">
        <p><input type="submit" name="Events Selected" class="btn btn-info"></p>
      </div>
  </form>


{% endblock %}
