<!DOCTYPE html>
{% extends './shared/base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block content %}

<link href="{% static 'css/banner-new.css' %}" rel="stylesheet">
<a style="padding-left: 22px" href="{% url 'index' %}">Back</a>
{% if messages %}
  <h3>{{ messages }}</h3>
{% else %}
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
  <div class="create-banner-header box">
    <div class="row">
      <div class="col-md-11">
        {% if not formset.queryset %}
          <h2>Nuevo banner</h2>
          {% else %}
          <h2>Editar banner</h2>
        {% endif %}
      </div>
    </div>
    {{ formset.management_form }}
    {{ formset.media }}
  </div>
  <div class="create-banner-body">
    <div class="container">
      <div class="row" style="padding-top: 40px;">
          {% if form.non_field_errors %}
            <div class="non-field-errors">
              {% for err in form.non_field_errors %}
                <p class="form-error">{{ err }}</p>
              {% endfor %}
            </div>
          {% endif %}
          <div class="row">
            <div class="section-title">
              <h2>Información del banner</h2>
              <p>Ingresa aquí la información correspondiente para que luego
              puedas identificar este banner y su contenido.</p>
            </div>
          {% for field in form %}
              <div class="col-md-12">
                  {% bootstrap_field field %}
              </div>
          {% endfor %}
          </tr>
      </div>
      {{ formset.management_form }}
      {{ formset.media }}
      <div class="row">
          <div class="row" style="margin-top: 40px;">
            <div class="section-title">
              <h2>Seleccionar eventos</h2>

              <p>Selecciona los eventos que quieres que aparezcan cuando el banner esté
              publicado.</p>
                 <input class="form-control col-md-8 js-input-search" id="InputSearch" type="text" placeholder="Search" aria-label="Search">
            </div>
          </div>
          <div class="col-md-12">
            {% for event_form in formset %}
              <div class="col col-md-12 border js-event-card" id="content-card-parent" style="margin-top:10px">
                <!-- card -->
                <div class="row">
                    <div class="col col-md-1 py-4 d-flex align-items-center js-checkbox-event-item">
                      {{ event_form.selection }}
                    </div>
                    <div class="col col-md-3 py-2  d-flex align-items-center">
                       <img height="100" width="200" style="padding-right: 30px" src="{{ event_form.logo.value }}">
                    </div>
                    <div class="col col-md-4 px-2 ">
                        <h4 style="padding-top: 4px" >Título</h4>
                          <p class="js-event-card-title">{{ event_form.title.value }}</p>
                    </div>
                    <div class="col col-md-4 px-2">
                        <h4 style="padding-top: 4px" >Descripción</h4>
                          <p class="text-truncate" style="max-width: 400px">{{ event_form.description.value }}</p>
                    </div>
                </div>
                <!-- card -->
                <div class="d-none js-link-custom-event">
                  <button type="button" class="btn btn-link">Personalizar datos del evento</button>
                </div>
                <div class="col-md-6 d-none js-custom-event-form">
                    <div class="form-group">
                            {{ event_form.title }}
                            {% bootstrap_field event_form.custom_title %}
                    </div>
                    <div class="form-group">
                            {{ event_form.description }}
                            {% bootstrap_field event_form.custom_description %}
                    </div>
                    <div class="form-group">
                        {{ event_form.logo }}
                        {% bootstrap_field event_form.custom_logo %}
                    </div>
                </div>
              </div>
          {{ event_form.organizer }}
          {{ event_form.evb_id }}
          {{ event_form.evb_url }}
          {{ event_form.start }}
          {{ event_form.end }}
          {{ event_form.id }}
      {% endfor %}
      </div>
      <div class="d-flex justify-content-start">
        {% if not formset.queryset %}
          <button type="submit" name="Events Selected" class="btn-submit btn btn-primary
          float-right">Crear banner</button>
        {% else %}
          <button type="submit" name="Events Selected" class="btn-submit btn btn-primary
          float-right">Confirmar edicion</button>
        {% endif %}
      </div>
  </div>
  </form>

{% endif %}

<script>
  $(document).ready(function() {
    $(document).on('change', '.js-checkbox-event-item input', function(e) {
      var $target = $(e.target)
          $targetRow = $target.parents('.js-event-card')
          $hiddenLink = $targetRow.children('.js-link-custom-event')
          $hiddenForm = $targetRow.children('.js-custom-event-form')

      if ($target.is(':checked')) {
        $hiddenLink.removeClass('d-none')
      } else {
        $hiddenLink.addClass('d-none')
        $hiddenForm.addClass('d-none')
      }
    })
    $('.js-link-custom-event').click(function(e) {
      var $target = $(e.target)
          $targetRow = $target.parents('.js-event-card')
          $hiddenForm = $targetRow.children('.js-custom-event-form')

      if ($target.on('click')) {
         $hiddenForm.removeClass('d-none')
      } else {
         $hiddenForm.addClass('d-none')
      }
    })
  })
</script>
<script>
    $(document).ready(function(){

      $(".js-input-search").keyup(function() {

        var filter_title = $(this).val()
        $(".js-event-card .js-event-card-title").each(function() {
          debugger;
            var $event_card = $(this).parents('.js-event-card')
            var event_title = $(this).text()
            var title_regExp = new RegExp(filter_title, "im")
            var title_match_regExp = event_title.search(title_regExp) >= 0
            var considence_title = filter_title === ''

            if (title_match_regExp || considence_title) {
            $event_card.show();

             } else {
            $event_card.hide();
            }
      });
    });
});

</script>
{% endblock %}

