<!DOCTYPE html>
{% extends './shared/base.html' %}
{% load bootstrap3 %}
{% block content %}
  <h1>New banner</h1>

{% if messages %}
      <h3>{{ messages }}</h3>
      <a href="http://127.0.0.1:8000/">Back</a>
      </div>
{% else %}
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        {% if form.non_field_errors %}
          <div class="non-field-errors">
            {% for err in form.non_field_errors %}
              <p class="form-error">{{ err }}</p>
            {% endfor %}
          </div>
        {% endif %}
        {% for field in form %}
            <div class="col-md-12">
                {% bootstrap_field field %}
            </div>
        {% endfor %}
        </tr>
    </div>
    {{ formset.management_form }}
    {{ formset.media }}
    <hr>
        <h3>Select your events for create a new banner</h3>
    {% for event_form in formset %}
        <div class="row col-md-12" style="padding-top: 20px;
            margin-bottom:50px;">
            <div class="col-md-5">
                <div class="card" style="width: 18rem; margin-bottom:20px;">
                  <img class="card-img-top" src="{{ event_form.logo.value }}" alt="Card image cap">
                  <div class="card-body">
                      <h5 class="card-title">{{ event_form.title.value }}</h5>
                      <p class="card-text">{{ event_form.description.value }}</p>
                  </div>
                </div>
                <div class="custom-file">
                    {{ event_form.logo }}
                    <label class="control-label">Custom logo</label>
                    {{ event_form.custom_logo }}
                </div>
            </div>
            <!-- <h5>Start datetime</h5> -->
            <h4>{{ event_form.start }}</h4>
            <!-- <h5>End datetime</h5> -->
            <h4>{{ event_form.end }}</h4>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Custom title</label>
                        {{ event_form.title }}
                        {{ event_form.custom_title }}
                        <div class="form-group">
                            <label class="control-label">Custom description</label>
                        {{ event_form.description }}
                        {{ event_form.custom_description }}
                    </div>
                </div>
            </div>
            <div class="col-md-1" style="margin-top:120px;">
                {{ event_form.selection }}

            </div>
        </div>

        {{ event_form.organizer }}
        {{ event_form.evb_id }}
        {{ event_form.evb_url }}

{% endfor %}
      <div class="row col-md-12" style="padding-top: 40px;">
        <p><input type="submit" name="Events Selected" class="btn btn-primary
        pull-right"></p>
      </div>
  </form>


{% endif %}

{% endblock %}
